@charset "utf-8";

span {
    font-size: 25px;
}

.explanation {
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

.news-content {
    margin: 1rem;
    border-bottom: 1px solid dodgerblue;
    font-size: 1.1rem;
}

.news-content h2 {
    font-weight: bold;
    font-size: 2rem;
}