@charset "utf-8";
body {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    font-family: sans-serif;
}
.title {
    text-align: center;
}
.user {
    text-align: center;
    margin: auto;
}
.computer {
    text-align: center;
    margin: auto;
}
.hands {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
#victory_or_defeat {
    margin-top: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.btns {
    font-size: 1.2rem;
    margin: 8px;
    padding: 8px 16px;
    cursor: pointer;
    color: aliceblue;
    background-color: teal;
    border: none;
    border-radius: 4px;
}
.back-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #4e73df;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.back-btn:hover {
  background: #2e59d9;
  transform: translateY(-2px);
}